@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 2rem;

  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-text-accent-2);
  }
}
